html {
  font-size: 15px;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

body {
  background-color: #edeef1;
  color: #222;
  padding: 0;
  margin: 0; }

* {
  box-sizing: border-box; }

ul, li {
  margin: 0;
  padding: 0; }

.highlight, pre {
  overflow: auto; }

a {
  color: #56AFE2;
  text-decoration: none;
  border-bottom: 0px;
  display: inline-block;
  position: relative;
  transition: all 0.3s ease-in-out 0s; }
  a:hover {
    color: #4695C8; }

.header {
  background: white;
  border-top: 2px solid #222;
  margin-bottom: 45px;
  height: 280px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center; }
  .header .logo {
    width: 170px;
    height: 75px; }

.header-nav {
  margin-top: 30px;
  text-transform: uppercase; }
  .header-nav > a {
    color: #222;
    margin-right: 10px; }
    .header-nav > a::after {
      width: 10%;
      content: "";
      display: inline-block;
      height: 2px;
      transition: all 0.3s ease-in-out 0s;
      background-color: #4695C8;
      margin: 5px auto;
      left: 0;
      top: 20px;
      opacity: 0; }
    .header-nav > a:hover {
      color: #4695C8; }
      .header-nav > a:hover::after {
        opacity: 1;
        width: 90%; }
  .header-nav .nav-active {
    color: #56AFE2; }

#nprogress .bar {
  background: #56AFE2; }

#nprogress .spinner-icon {
  border-top-color: #56AFE2;
  border-left-color: #56AFE2; }

.post-list {
  max-width: 900px;
  margin: 0 auto; }

.post {
  background: white;
  padding: 20px 35px;
  margin-bottom: 45px;
  transition: box-shadow 0.3s ease-in-out 0s; }
  .post:hover {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1); }
  .post .post-header {
    text-align: center;
    text-transform: uppercase; }
    .post .post-header > h2 {
      font-size: 22px;
      line-height: 22px;
      transition: font-size 0.3s ease-in-out 0s; }
      .post .post-header > h2:hover {
        font-size: 23px; }
  .post .title {
    margin: 20px 0 10px 0;
    text-align: center;
    text-transform: uppercase; }
    .post .title a {
      color: #252525; }
  .post .subtitle {
    text-align: center;
    font-size: 14px;
    margin: 10px 0 20px 0;
    color: #a5a5a5; }
    .post .subtitle a {
      color: #a5a5a5; }
      .post .subtitle a:hover {
        color: #4695C8; }
  .post .readmore {
    text-transform: uppercase;
    margin: 20px 0;
    text-align: center; }
    .post .readmore a::before {
      font-size: 13px;
      display: inline-block;
      transition: all 0.3s ease-in-out 0s;
      position: absolute;
      opacity: 0;
      top: 3px;
      margin-left: 50%; }
    .post .readmore a:hover::before {
      opacity: 1;
      margin-left: 105%; }
  .post .tags {
    text-transform: uppercase;
    text-align: center; }
  .post .icon-tag {
    font-size: 12px; }

.article {
  max-width: 900px;
  margin: 0 auto; }
  .article:hover {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); }
  .article > .article-header > h2 {
    font-size: 25px;
    line-height: 25px; }
    .article > .article-header > h2:hover {
      font-size: 26px; }

.page-header h1 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 45px; }

.page-nav {
  margin: 30px 0;
  text-align: center; }
  .page-nav .prev {
    margin-right: 10px; }
  .page-nav .next, .page-nav .prev {
    border: 1px solid #a5a5a5;
    padding: 5px;
    color: #a5a5a5;
    text-transform: uppercase; }
    .page-nav .next:hover, .page-nav .prev:hover {
      border-color: #222;
      color: #222; }

.footer {
  background-color: #222;
  margin-top: 30px;
  padding: 30px;
  color: #999999; }

.footer-wrap {
  max-width: 900px;
  margin: 0 auto; }

.footer-info {
  margin: 10px 0;
  line-height: 1.5;
  padding-top: 10px;
  border-top: 1px solid #000; }

.footer-link > h3,
.footer-tags > h3 {
  font-size: 16px;
  margin: 10px 0; }

.footer-link > p,
.footer-tags > p {
  margin: 10px 0; }

.content pre {
  display: block;
  box-sizing: border-box;
  font-family: "inconsolata",Consolas,monospace,sans-serif;
  width: 100%;
  font-size: 13px;
  padding: 5px;
  background: #f9f9fa;
  white-space: pre;
  overflow: auto; }

.content blockquote {
  position: relative;
  width: 100%;
  margin: 20px 0px;
  padding: 0px 20px;
  border-left: 4px solid #56AFE2; }
  .content blockquote footer strong {
    margin-right: 7px; }

.content img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block; }

.content ul {
  padding-left: 20px; }

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  font-size: 25px; }
  .content h1::before, .content h2::before, .content h3::before, .content h4::before, .content h5::before, .content h6::before {
    margin-right: 10px;
    content: "#"; }

.content h2 {
  font-size: 21px; }
  .content h2::before {
    content: "##"; }

.content h3 {
  font-size: 17px; }
  .content h3::before {
    content: "###"; }

.content h4 {
  font-size: 16px; }
  .content h4::before {
    content: "####"; }

.content h5 {
  font-size: 15px; }
  .content h5::before {
    content: "#####"; }

.content h6 {
  font-size: 14px; }
  .content h6::before {
    content: "######"; }

.content hr {
  border: 0;
  border-top: 1px solid #EDEEF1; }

.archive {
  text-align: center; }

.social-wrapper {
  margin: 20px 0; }
  .social-wrapper a {
    color: #a5a5a5;
    margin-right: 4px;
    margin-left: 4px; }
    .social-wrapper a:hover {
      color: #56AFE2; }
  .social-wrapper .iconfont::before {
    font-size: 13px; }
  .social-wrapper > .github:hover {
    color: #222; }
  .social-wrapper > .twitter:hover {
    color: #30c3ef; }
  .social-wrapper > .lofter:hover {
    color: #fac945; }
  .social-wrapper > .rss:hover {
    color: #ffad1f; }
  .social-wrapper > .weibo:hover {
    color: #e6162e; }
  .social-wrapper > .dribbble:hover {
    color: #c32461; }
  .social-wrapper > .tumblr:hover {
    color: #36465d; }
  .social-wrapper > .search-do:hover {
    color: #eb4535; }

.search-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.1); }

.search-content {
  width: 480px;
  border-radius: 3px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3); }

.search-input {
  margin-bottom: 0;
  margin: 0; }
  .search-input > input {
    padding: 15px 15px 15px 55px;
    font-size: 20px;
    width: 100%;
    background-color: white;
    outline: none;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px 3px 0 0; }
  .search-input > .icon-search {
    position: absolute;
    font-size: 25px;
    margin-left: 15px;
    margin-top: 13px; }

.search-result {
  height: 400px;
  padding: 20px 0;
  background-color: white;
  border-radius: 0 0 3px 3px;
  overflow: auto; }
  .search-result > li {
    list-style: none;
    margin: 0;
    padding: 5px 15px;
    text-align: left;
    cursor: pointer; }
    .search-result > li > h3 {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin: 3px 0;
      font-size: 15px; }
    .search-result > li > p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin: 3px 0;
      font-size: 14px;
      color: #a5a5a5; }
    .search-result > li:hover {
      background-color: #4695C8;
      color: white; }
      .search-result > li:hover > p {
        color: white; }
  .search-result .tags, .search-result .search-no {
    height: 350px;
    display: flex;
    padding: 5px 15px;
    align-items: center;
    justify-content: center; }

@media (max-width: 600px) {
  .search-content {
    width: 300px; }
  .search-result {
    height: 200px; }
    .search-result .tags, .search-result .search-no {
      height: 200px; } }

.tag-list > .tag-list-item {
  display: inline-block;
  list-style: none;
  background-color: #353535;
  margin: 5px 10px 5px 0;
  padding: 5px;
  font-size: 12px;
  transition: all 0.3s ease-in-out 0s; }
  .tag-list > .tag-list-item:last-child {
    margin-right: 0px; }
  .tag-list > .tag-list-item > a {
    color: white; }
  .tag-list > .tag-list-item:hover {
    background-color: #4695C8; }

.animated {
  animation-duration: 0.5s;
  transition-timing-function: ease-in-out;
  animation-fill-mode: both; }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fade-in {
  animation-name: fade-in; }

@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fade-in-left {
  animation-name: fade-in-left; }

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fade-in-right {
  animation-name: fade-in-right; }

@keyframes fade-in-top {
  from {
    transform: translate3d(0, -50px, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fade-in-top {
  animation-name: fade-in-top; }
